body
{
    padding: 30px;
    background-color: #fcfcfc;
}
.outer-div
{
    padding: 30px;
    background-color: #f3f3f3;
}
.inner-div
{
    /*align: left;*/
    width: 700px;
    height: 200px;
    background-color: #ccc;
    border-radius: 3px;
    overflow: hidden;
    padding: 10px;
}
.inner-div img {
    margin-right: 15px;
    float: left;
}