body
{
    padding: 2%;
    background-color: #fcfcfc;
}
.outer-div
{
    padding: 2%;
    background-color: #f3f3f3;
}
.inner-div
{
    width: 96%;
    height: 213px;  /* This was found with trial and error, this looks the best (no test under pic on small res) */
    background-color: #ccc;
    border-radius: 3px;
    overflow: hidden;
    padding: 2%;
    border: 1px solid black;
    border-radius: 2px;
}
.inner-div img {
    margin-right: 15px;
    float: left;
    max-width: 400px;
    max-height: 200px;
    border: none;
}